/* static/css/auth/login.css */

/* Login Box Styles */
.login-box {
    width: 100%;
    max-width: 430px;
    background: var(--primary-color);
    padding: 40px;
    border: 3px solid var(--secondary-color);
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--white-color);
}

.login-text-box {
    margin-bottom: 20px;
    text-align: right;
}

.login-text-box label {
    display: block;
    font-size: 16px;
    color: var(--white-color);
}

.login-text-box label i {
    margin-left: 5px;
    color: var(--secondary-color);
    font-size: 18px;
}

.login-text-box input {
    padding: 12px 15px;
    background-color: var(--white-color);
    margin-top: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    color: var(--primary-color);
}

.login-text-box input:focus {
    border: 3px solid var(--primary-color);
}

.login-button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.login-button:hover {
    background-color: var(--hover-button-color);
}

.login-link {
    margin-top: 20px;
    font-size: 16px;
}

.login-link a {
    color: var(--white-color);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
